body {background-image: url('https://gp1.wac.edgecastcdn.net/802892/http_public_production/profile_cover_photos/images/2203888/original/crop:x0y0w1920h746/quality:90/hash:1568661701/Hackerman_logo_copy.jpg?1568661701');
background-size: 100vw 100vh;
height: 100vh;

}

.menu {
background-color: honeydew;
}

a{  color: teal;
    text-decoration:none
}

 a:hover
 {
text-decoration: underline;

 }

.menu li{
    list-style: none;
}

 .menu ul{
     display: flex;
     justify-content: space-around;

 }
 
 .site-subtitle,
 .site-title{
      color:rgb(43, 255, 0);
     text-align: center;
    
 }

 .site-subtitle{
     font-style:italic
     
 }